<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users' assets</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 5px;
          text-align: left;
        }
    </style>
</head>
<body>
<h2>Current Asset Of Each User</h2>
<p>According to the current coins and current live prices the assets are.</p>
{% block body-content %}
    <table style="width:100%">
        <tr>
            <th>User_name</th>
            <th>Asset</th>
        </tr>
        {% for user in assets %}
            <tr>
                {% for data in user %}
                    <td>{{ data }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <div>
    <canvas id="myChart" width="400" height="150"></canvas>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: {{labels}},
            datasets: [
            {% for asset in assets%}
            {
                label: 'The asset',
                backgroundColor: 'rgb(255, 99, 132, 0.2)',
                borderColor: 'rgb(255, 99, 132, 0.8)',
                data: {{asset}}
            },
        ]
        },

        // Configuration options go here
        options: {}
        });
    </script>
    </div>
{% endblock %}
</body>
</html>
